<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutoring.senghoon.seunghoonsapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hayley.HayleyMainActivity" />
        <activity android:name=".hayley.HayleyLinearLayoutActivity" />
        <activity android:name=".hayley.HayleyDataTypeActivity" />
        <activity android:name=".hayley.HayleyControlActivity" />
        <activity android:name=".hayley.HayleyRepeatActivity" />
        <activity android:name=".hayley.HayleyMethod1Activity" />
        <activity android:name=".hayley.HayleyMethod2Activity" />
        <activity android:name=".hayley.HayleyScheduleActivity" />

        <activity android:name=".seunghoon.SeunghoonMainActivity" />
        <activity android:name=".seunghoon.SeunghoonDataTypeActivity" />
        <activity android:name=".seunghoon.SeunghoonLinearLayoutActivity" />
        <activity android:name=".seunghoon.SeunghoonDataTypeAssignmentActivity" />
        <activity android:name=".seunghoon.SeunghoonControlActivity" />
        <activity android:name=".seunghoon.SeunghoonRepeatActivity" />
        <activity android:name=".seunghoon.SeunghoonMethod1Activity" />
        <activity android:name=".seunghoon.SeunghoonMethod2Activity"/>
        <activity android:name=".seunghoon.SeunghoonScheduleActivity" />
    </application>

</manifest>